#navbarSupportedContent {

    padding-right: 333px;
}

.menu-logo {

    padding-left: 240px;

}

#dep {

    height: 48px;

}

#arv {

    height: 48px;

}

.swapWrapper svg {
     vertical-align: middle;
     fill: #00b2d6;
 }

.array svg {
    vertical-align: middle;
    fill: #ffffff;
}

.swapWrapper :hover svg {
    vertical-align: middle;
    fill: #524c61;
}

.form-group {
    width: 179.42px;
}

* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative !important;
    display: inline-block !important;
    width: 310px;
}

.autocomplete2 {

    width: 300px;
}

.autocomplete3{
    width: 628px;
}

.form-group2 {
    width: 300px !important;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}


input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: #f1f1f1;
    color: #fff;
}

.autocomplete-items {
    position: absolute !important;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99 !important;
    /*position the autocomplete items to be the same width as the container:*/
    left: 0 !important;
    right: 0 !important;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer !important;;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.autocomplete {
    height: 46px !important;
}

input::placeholder {
    font-style: italic;
}

.col-form-label{
    color: white;
}

.nav-tabs .nav-link.active{
    color: #ffffff;
    background-color: #5bc0d1;
    border-color: #dee2e6 #dee2e6 #fff
}