<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.mappers.AirportMapper">

    <select id="selectAirport" resultType="AirportVO">
        SELECT *
        FROM
            airport
        WHERE airportCode = #{airportCode}
    </select>

    <select id="readLat" resultType="double">
        SELECT lat
        FROM
            airport
        WHERE airportCode = #{airportCode}
    </select>

    <select id="readLon" resultType="double">
        SELECT lon
        FROM
            airport
        WHERE airportCode = #{airportCode}
    </select>

</mapper>